body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border: 2px solid black;
    height: 200px;
    width: 80vw;
    margin: auto;
    border-radius: 25px;
}

.mybtn {
    margin-top: 15px;
    margin-bottom: 25px;
}
