<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/new_style.css">
</head>
<body>

    <h2>Write a New Chat...</h2>

    <form method="post" action="/chats">
        <label for="from">From: </label>
        <input type="text" placeholder="sender" name="from">
        <br><br>
        <label for="msg">Message: </label>
        <textarea name="msg" placeholder="enter your message"></textarea>
        <br><br>
        <label for="to">To: </label>
        <input type="text" placeholder="receiver" name="to">
        <br><br>
        <button>Add Chat</button>
    </form>
</body>
</html>