h1 {
    text-align: center;
}

.rainbow {
    height: 50px;
    width: 300px;
    font-weight: 700;
    color: black;
    text-align: center;
    line-height: 50px;
}

#container {
    height: 500px;
    width: 90%;
    margin: 10px auto;
    border: 5px solid black;
    background-color: aliceblue;
    /* 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start; 
    */
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align individual elements at flex-start, flex-end, center, evenly accross main axis */
    flex-wrap: wrap;
    align-items: center; /* align all items collectively at start, end, left or right accross cross axis */
    align-content: flex-start; /* align individual elements at flex-start, flex-end, center, evenly accross cross axis */
}