<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: aquamarine;
            padding-left: 1.5rem;
        }
    </style>
</head>
<body>
    <footer>
        <div>
            contact us: 9871458125
        </div>
        <div>
            email: hello_56@gmail.com
        </div>
    </footer>
</body>
</html>