<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h4>Hello, this is the home page</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quod, quae tenetur quas tempore quidem ipsa voluptates? Iusto, explicabo ullam provident sunt quidem nisi aliquam, optio dolores, nemo illum ut!
    Natus nihil repellat consequatur voluptatum. Vitae quod dolor quisquam eveniet voluptas laudantium, ullam perspiciatis debitis, enim natus commodi reprehenderit aliquid laboriosam eum omnis totam esse iste iure, quidem nam aut.
    Tempora dolor nisi, natus necessitatibus iusto id asperiores obcaecati. Maiores minima mollitia officia iusto nulla, labore nemo adipisci maxime vitae similique libero quibusdam sit ipsa, numquam, cupiditate dolor voluptatum. Tempora?
    Dolorum eveniet inventore minus repudiandae hic nulla numquam ipsa veritatis ipsum doloremque cum vitae sapiente quos, eligendi quaerat, aliquam ut libero. Odit ullam provident reprehenderit facilis iusto cupiditate consequuntur cum?
    Tempore, dolor? Aut ut, ex eum error tempora iure aperiam nam laboriosam delectus corrupti quasi maiores doloribus omnis obcaecati accusantium dolorum odio animi minima. Itaque natus incidunt quaerat tempora voluptatem!</p>
    <button>Click Me !</button>
</body>
</html>